@font-face{
	font-family: "Poppins-Light";
  src: url('fonts/Poppins-Light.ttf');
  font-display: swap
}

@font-face{
	font-family: "Poppins-Regular";
  src: url('fonts/Poppins-Regular.ttf');
  font-display: swap
}

@font-face{
	font-family: "Poppins-Bold";
  src: url('fonts/Poppins-Bold.ttf');
  font-display: swap
}

@font-face{
	font-family: "Quicksand-Light";
  src: url('fonts/Quicksand-Light.ttf');
  font-display: swap
}


body{
    color: #38454C;
    margin:0;
    font-family: Poppins-Regular;
    position:relative;
}

h1{
  font-family: Poppins-Regular;
  font-size:20px;
  text-align:center;
}

h2{
  font-family: Quicksand-Light;
}

h3{
  font-family: Poppins-Regular;
  font-size:20px;
}

h4{
  font-family:Poppins-Regular;
  font-size:18px;
  margin:0;
}

h5{
  font-family: Poppins-Regular;
  font-size:16px;
}

p{
  font-family : Poppins-Light;
  font-size:18px;
}

/*Responsive images */
img{
  max-width: 100%;
  height:auto;
}

/* ----- HEADER ----- */
  
.header {
  width:100%;
  height:70px;
  box-shadow: 1px 1px 10px 7px rgba(0,0,0,.1);
  background-color: #fff;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
}

.header::before{
  box-shadow: 0px 0px 26px black;
}
  
.header ul {
  margin: 0;
  padding: 0;
  height:92vh;
  list-style: none;
  text-align: center;
  overflow: hidden;
  background-color: #313171;
}

/* .header li:first-child{
  margin-top:5%;
} */
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .fixed-nav-bar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
  }

  .nav-logo{
    grid-column:2/3;
    justify-self: center;
  }

  .sale-nav-button{
    background-color:#00B0E2;
    cursor:pointer;
    border:none;
    border-radius: 6px;
    color:white;
    font-family: Poppins-regular;
    font-size:18px;
    display:flex;
    height:40px;
    align-items: center;
    padding:10px 20px;
  }

  .nav-icon{
    margin-right:10px;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    grid-column: 3/4;
    justify-self: end;
    padding-right:20px;
    padding: 28px 20px;
  }
  
  .header .menu-icon .navicon {
    background-color:#FF6E14;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background-color:#FF6E14;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 7px;
  }
  
  .header .menu-icon .navicon:after {
    top: -7px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }

/* ----- HEADER ----- */


/* ----- MAIN ----- */

main{
    width:90%;
    margin:0 auto;
}

.home-picture{
  display:none;
}

.top-title{
  margin:0;
  padding-top:110px;
}

hr{
    border:none;
    border-top:1px dotted #707070;
    color:#fff;
    background-color:#fff;  
    height:1px;
}

/* ----- RECHERCHE-RAPIDE ----- */

.container-one{
  margin-top:45px;
  margin-bottom:80px;
  width: 288px;
  margin:30px auto 125px auto;
}

.travel-back{
  display:none;
}

.select-travel-radios{
  margin-top:25px;
  justify-content: center;
}

.select-travel-radios label{
  font-family:Poppins-Regular;
  font-size:18px;
}

.form-container{
  font-family:Poppins-Regular;
  font-size:18px;
  color:#38454C;
}

.search-row{
  width:268px;
  max-width: 278px;
  margin:25px auto 0 auto;
}

.select-fields{
  border-radius:4px;
  border:1px solid #38454C;
  width:100%;
  max-width:100%;
  height:50px;
  font-family:Poppins-Regular;
  font-size:16px;
  padding-right:20px;
  padding-left:20px;
  margin-top:10px;
  background: white;
}

.select-fields:focus{
  outline:none;
}

.search-fields:focus{
  outline:none;
}

.search-fields{
  max-width:84%;
}

.set-hours{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.hours-text{
  margin:0;
  font-family: Poppins-Regular;
}

.set-hours .search-fields{
  width:95px;
}

.submit-form{
  margin-top:40px;
  background-color: #FF6E14;
  border:none;
  color:white;
  border-radius: 6px;
  height:65px;
  width:100%;
  font-size:24px;
  font-family: Poppins-Regular;
}

/* ----- MEILLEURS-PRIX ----- */

.container-two{
    margin-bottom:80px;
}

.container-two-wrapper{
  scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  width:75%;
  padding-bottom:10px;
  margin: 30px auto 0 auto;    
}

.container-two-boxes{
    border-radius:10px;
    min-width:215px;
    max-width:278px;
    margin:0 60px 0 auto; 
    cursor:pointer;
    scroll-snap-align: start;
	  text-align: center;
}

.price-travel{
    background-color:#00B0E2;
    border-radius:10px 10px 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    height: 80px;
}

.price-travel h2{
    margin-right:10px;
}

.travel-info{
    align-items:center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.16);
    height:238px;
}

.travel-info h4{
    text-align: center;
}

.travel{
    padding-top:25px;
    margin-bottom:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.city-travel{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.city-travel h4{
    text-align:left;
}

/* ----- TRAJETS-POPULAIRES ----- */

.container-three{
    margin-bottom:80px;
}

.container-three-wrapper{
    margin-top:40px;
}

.container-three-boxes{
    display:flex;
    border-radius: 10px;
    align-items:center;
    justify-content: center;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    margin:0 auto;
    width:100%;
    max-width: 300px;
    height:100px;
    cursor:pointer;
}

.container-three-boxes p{
  font-family: Poppins-Bold;
}

.paris-marseille{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('icones/marseille.webp');
    background-color:#38454C;
    background-position-y: 40%;
}

.bordeaux-lyon{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('icones/lyon.webp') ;
    margin-top:30px;
}

.lille-rennes{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('icones/rennes.webp');
    background-position-y:35%;
    margin-top:30px;
}

.arrow-text{
    margin-right:25px;
    margin-left:25px;
}

/* ----- COMMENT-CA-MARCHE ----- */

.container-four{
  margin-bottom:80px;
}

.container-four-wrapper{
    
}

.container-four-boxes{
  margin-top:40px;
}

.title-section{
    margin-bottom:0px;
}

.illustrations{
    display:block;
    margin:0 auto;
}

.sales{
  width: 128px;
  height:150px;
}

.ticket{
  width:150px;
  height:150px;
}

.money{
  width:122px;
  height:150px;
}

/* ----- AVIS-UTILISATEURS ----- */

.container-five{
  margin-bottom:100px;
}

.container-five-wrapper{
  scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  width:100%;
  padding-bottom:10px;
  padding-top:10px; 
  margin: 30px auto 25px auto;
}

.container-five-boxes{
  border-radius:10px;
  min-width:300px;
  max-width:355px;
  margin:0 60px 0 auto;
  cursor:pointer;
  scroll-snap-align: start;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.16);
}

.box-user-info{
  display:flex;
  padding:0 0 0px 25px;
}

.box-user-info .icon-user{
  margin-right:10px;
}

.box-user-info h5{
  margin-right:10px;
}

.container-five-boxes p{
  padding: 0 25px 25px 25px;
  margin:0;
}

.button-view-all-ratings{
  width:240px;
  border-radius:35px;
  border:none;
  background-color:#00B0E2;
  color:white;
  height:65px;
  display:block;
  margin:0 auto;
  font-family:Poppins-Regular;
  font-size:18px;
}

/* ----- FOOTER ----- */

.footer-container{
  width:80%;
  margin:0 auto;
}

.footer-block{
  text-align:center;
  margin-bottom:45px;
}

.footer-block h5{
  margin-top:0px;
}

.footer-list{
  list-style: none;
  padding:0;
}

.footer-list li{
  font-family: Poppins-light;
  margin-bottom:20px;
  font-size:12px;
}

.footer-list li:last-child{
  margin-bottom:0px;
}

.footer-block p{
  font-size:14px;
  margin:0;
}

.social-medias{
  margin-right:55px;
}

.social-medias:last-child{
  margin-right:0px;
}

/* ----- RESPONSIVE ----- */

@media (min-width:375px){
  main{
    width:80%;
  }

  .search-fields{
    width:228px;
  }

  .container-three-boxes{
    width:300px;
  }
}

@media (min-width:425px){
  .select-fields{
    max-width:100%;
  }

  .search-fields{
    max-width:88%;
  }

}

@media (min-width:768px){
  .top-title{
    color:white;
    padding-top:100px;
    font-size: 26px;
  }

  .home-picture{
    display:block;
    position:absolute;
    height:780px;
    object-fit: cover;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.50)); */
  }

  .form-container{
    position:relative;
    padding-bottom:65px;
  }

  .form-container-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-one{
    background-color:white;
    border-radius:10px;
    padding:10px 30px 0 30px;
    width: 552px;
    margin:30px auto 125px auto;
  }

  .search-row{
    margin:25px 0 0 0;
  }

  .submit-form{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%,50%);
    width:350px;
  }

  .row-one{
    order:1;
  }

  .row-two{
    order:3;
  }
  
  .row-three{
    order:2;
  }

  .row-four{
    order:4;
  }

  .row-five{
    order:5;
  }



  .container-two-wrapper{
    width:95%;  
  }

  .container-two-boxes{
    min-width:38%;
    margin:0 60px 0 auto; 
    cursor:pointer;
    scroll-snap-align: start;
	  text-align: center;
}

  .container-four-wrapper{
    width:75%;
    margin:0 auto;
  }

  .container-five-boxes{
    
  }
}

@media (min-width: 1024px) {
  .header{
  }

  .fixed-nav-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin:0 auto;
  }
  
  .menu li {
    margin-right:30px;
  }

  .menu li:last-child {
    margin-right:0;
  }
  
  .nav-link{
    padding-top:4px;
  }
    
  .fixed-nav-bar .menu {
    height:auto;
    max-height: none;
    background:white;
    display:flex;
    align-items: center;  
  }
    
  .header .menu-icon {
    display: none;
  }
  
  .header .logo{
    width:275px;
    margin-left:15%;
  }

  .home-picture{
    height:750px;
  }

  .container-one{
    background-color:white;
    border-radius:10px;
    padding:10px 50px 0 50px;
    width: 720px;
    margin:30px auto 125px auto;
  }

  .search-row{
    width:40%;
  }

  .search-fields{
    width:85%;
  }

  .select-fields{
    max-width:100%;
  }

  .container-two-wrapper{
    scroll-snap-type: none;	
    display: flex;
    overflow-x: hidden;
    width:95%;
    margin: 40px auto 0 auto;    
  }

  .container-two-boxes{
    width: 30%;
    min-width: 0;
    margin:0 auto;
  }

  .container-three-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .container-three-boxes{
    width: 30%;
  }

  .bordeaux-lyon, .lille-rennes{
    margin-top:0;
  }

  .container-four-wrapper{
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .container-four-boxes{
    width:30%;
  }

  .container-five-wrapper{
    scroll-snap-type: x mandatory;	
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    width:100%;
    justify-content: space-between;
  }
  
  .container-five-boxes{
    width:31%;
    min-width:0;
    margin:0 auto;
  }

  .footer-container{
    width:90%;
  }

  .button-view-all-ratings{
    width:390px;
  }

  .footer-flex{
    display:flex;
    justify-content: space-between;
  }
}

@media (min-width:1440px){

  .menu li {
    margin-right:50px;
  }

  .container-one{
    padding-left:100px;
    padding-right:100px;
    width: 950px;
    margin-bottom: 250px;
  }

  .row-one{
    order:1;
  }

  .row-two{
    order:4;
  }
  
  .row-three{
    order:2;
  }

  .row-four{
    order:3;
  }

  .row-five{
    order:5;
  }


  .container-three-wrapper{
    display:flex;
  }

  .container-three-boxes{
    width: 300px;
  }

  .container-four-wrapper{
    width:90%;
  }

  .container-four-boxes{
    width:278px;
  }

  .container-five-wrapper{
    width:100%;
  }

  .container-five-boxes{
    width:355px;
  }

  .footer-list li{
    font-size:14px;
  }
}

@media (min-width:1800px){
  .fixed-nav-bar{
    width:70%;
  }

  main{
    width:70%;
  }
}
