body{
    color: #38454C;
    margin:0;
    font-family: Poppins-Regular;
}

h1{
  font-family: Poppins-Regular;
  font-size:20px;
  text-align:center;
}

h2{
  font-family: Quicksand-Light;
}

h3{
  font-family: Poppins-Regular;
  font-size:20px;
}

h4{
  font-family:Poppins-Regular;
  font-size:18px;
  margin:0;
}

h5{
  font-family: Poppins-Regular;
  font-size:16px;
}

p{
  font-family : Poppins-Light;
  font-size:18px;
}

/*Responsive images */
img{
  max-width: 100%;
  height:auto;
}

/* ----- HEADER ----- */
  
.header {
  box-shadow: 1px 1px 10px 7px rgba(0,0,0,.1);
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
  display:flex;
}

.header::before{
  box-shadow: 0px 0px 26px black;
}
  
.header ul {
  margin: 0;
  padding: 0;
  height:92vh;
  list-style: none;
  text-align: center;
  overflow: hidden;
  background-color: #313171;
}

.header li:first-child{
  margin-top:5%;
}
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header #logo {
    
  }

  .header .blue-logo{
      color: #00B0E2;
  }

  .header .orange-logo{
      color: #FF6E14;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 7px;
  }
  
  .header .menu-icon .navicon:after {
    top: -7px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 2300px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

/* ----- HEADER ----- */


/* ----- MAIN ----- */

main{
    width:80%;
    margin:0 auto;
}

hr{
    border:none;
    border-top:1px dotted #707070;
    color:#fff;
    background-color:#fff;  
    height:1px;
}

/* ----- RECHERCHE-RAPIDE ----- */

.container-one{
  margin-top:45px;
  margin-bottom:80px;
}

.travel-back{
  display:none;
}

input[type="radio"]#aller-retour:checked + div #travel-back{
  display:block;
}

.select-travel-radios{
  margin-top:25px;
  justify-content: center;
}

.select-travel-radios label{
  font-family:Poppins-Regular;
  font-size:18px;
}

.search{
  display:flex;
  flex-direction: column;
  font-family:Poppins-Regular;
  font-size:18px;
  color:#38454C;
}

.search-row{
  margin-top:25px;
}

label{

}

.search-fields{
  border-radius:4px;
  outline-color:none;
  border:1px solid #38454C;
  width:100%;
  max-width:278px;
  height:50px;
  font-family:Poppins-Regular;
  font-size:16px;
  padding-right:20px;
  padding-left:20px;
}

.search-fields:focus{
  outline-color:;
}

.setHours{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.setHours .searchFields{
  width:95px;
}

input[type="submit"]{
  margin-top:40px;
  background-color: #FF6E14;
  border:none;
  color:white;
  border-radius: 6px;
  height:65px;
  font-size:24px;
  font-family: Poppins-Regular;
}

/* ----- MEILLEURS-PRIX ----- */

.container-two{
    margin-bottom:80px;
}

.container-two-wrapper{
    margin-top:40px;
}

.container-two-boxes{
    border-radius:10px;
    width:75%;
    max-width: 278px;
    margin:0 auto;
    cursor:pointer;
}

.box-top{
    background-color:#00B0E2;
    border-radius:10px 10px 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    height: 80px;
}

.box-top h2{
    margin-right:10px;
}

.box-bottom{
    align-items:center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.16);
    height:238px;
}

.box-bottom h4{
    text-align: center;
}

.travel{
    padding-top:25px;
    margin-bottom:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.city-travel{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.city-travel h4{
    text-align:left;
}

/* ----- TRAJETS-POPULAIRES ----- */

.container-three{
    margin-bottom:80px;
}

.container-three-wrapper{
    margin-top:40px;
}

.container-three-boxes{
    display:flex;
    border-radius: 10px;
    align-items:center;
    justify-content: center;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    margin:0 auto;
    width:300px;
    height:100px;
}

.container-three-boxes p{
  font-family: Poppins-Bold;
}

#paris-marseille{
    background-image: url('icones/marseille.png');
    background-color:#38454C;
    background-position-y: 40%;
}

#bordeaux-lyon{
    background-image: url('icones/lyon.jpeg');
    margin-top:30px;
}

#lille-rennes{
    background-image: url('icones/rennes.jpg');
    background-position-y:35%;
    margin-top:30px;
}

.arrow-text{
    margin-right:25px;
    margin-left:25px;
}

/* ----- COMMENT-CA-MARCHE ----- */

.container-four{
  margin-bottom:80px;
}

.container-four-wrapper{
    
}

.container-four-boxes{
  margin-top:40px;
}

.title-section{
    margin-bottom:0px;
}

.illustrations{
    display:block;
    margin:0 auto;
}

.sales{
  width: 128px;
}

.ticket{
  width:150px;
}

.money{
  width:122px;
}

/* ----- AVIS-UTILISATEURS ----- */

.container-five{
  margin-bottom:100px;
  overflow:hidden;
}

.container-five-wrapper{
  margin-top:40px;
  display:flex;
}

.container-five-boxes{
  border-radius: 6px;
  box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.16);
  margin-bottom:25px;
  width:100%;
}

.top-box{
  display:flex;
  padding:0 0 0px 25px;
}

.top-box .icon-user{
  width:16px;
  margin-right:10px;
}

.top-box h5{
  margin-right:10px;
}

.container-five-boxes p{
  padding: 0 25px 25px 25px;
  margin:0;
}

.button-view-all-ratings{
  width:85%;
  border-radius:35px;
  border:none;
  background-color:#00B0E2;
  color:white;
  height:65px;
  display:block;
  margin:0 auto;
  font-family:Poppins-Regular;
  font-size:18px;
}

/* ----- FOOTER ----- */

.footer-container{
  width:80%;
  margin:0 auto;
}

.footer-block{
  text-align:center;
  margin-bottom:45px;
}

.footer-block h5{
  margin-top:0px;
}

.footer-list{
  list-style: none;
  padding:0;
}

.footer-list li{
  font-family: Poppins-light;
  font-size:12px;
}

.footer-block p{
  font-size:14px;
  margin:0;
}

/* ----- RESPONSIVE ----- */

@media (max-width:374px){
  main{
    width:85%;
  }

  .container-three-boxes{
    width:100%;  
  }
}

@media (min-width: 1024px) {
    .header{
      display:flex;
    }
  
    .header li {
      float: left;
    }
    .header li a {
      color:black;
      padding: 10px 15px;
    }
    .header .menu {
      margin-left:10%;
      height:auto;
      float: right;
      max-height: none;
      background:white;
    }
    .header .menu-icon {
      display: none;
    }
  
    .header .logo{
      width:15%;
      margin-left:15%;
    }
}

@font-face{
	font-family: "Poppins-Light";
	src: url('fonts/Poppins-Light.ttf');
}

@font-face{
	font-family: "Poppins-Regular";
	src: url('fonts/Poppins-Regular.ttf');
}

@font-face{
	font-family: "Poppins-Bold";
	src: url('fonts/Poppins-Bold.ttf');
}

@font-face{
	font-family: "Quicksand-Light";
	src: url('fonts/Quicksand-Light.ttf');
}